@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Klee One', cursive;
  font-weight: 200;
  font-size: 1.3rem;
  color: hsl(0, 30%, 90%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: hsl(0, 0%, 9%);
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  object-fit: cover;
  object-position: center;
  border-radius: .4em;
  box-shadow: 0 0 3px .4px rgba(129, 119, 119, 0.5)
 }

h1 {
  margin-bottom: .7em;
  animation: zoom 12s ease-in-out;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}